
@section title {
    <h1>Welcome to the Supermarket Management System</h1>
}

<p>This system helps you manage your supermarket efficiently.</p>

<div class="container mt-5">
    <h2>Latest News and Updates</h2>
    <div class="row">
        <div class="col-md-6">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">New Product Arrivals</h5>
                    <p class="card-text">Check out our latest selection of products now available in-store!</p>
                    <a href="#" class="btn btn-primary">Read More</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">Special Weekend Sale</h5>
                    <p class="card-text">Don't miss our special weekend sale! Enjoy discounts on a wide range of products.</p>
                    <a href="#" class="btn btn-primary">Read More</a>
                </div>
            </div>
        </div>
    </div>
</div>
